# Zed
zed/.config/zed/conversations/
zed/.config/zed/prompts/

# Codex
codex/.codex/log/
codex/.codex/sessions/
codex/.codex/history.jsonl
codex/.codex/version.json

# Zsh
zsh/.config/zsh/secrets/*.dec.*
